<header>
  <nav class="navbar">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Phraseify</a>
    </div>
  </nav>
</header>

<div class="row">
  <div class="col-md-4">
    <h3>Build Your Insult</h3>
    <div class="col-md-6">
      <h3>Adjectives</h3>
        <div *ngFor="let adjective of adjectives"
              (click)="selectWord(adjective, 'adjective')"
              style="cursor:pointer;"
              [class.bg-primary]="adjective.selected"
        >
          {{ adjective.text }}
        </div>
      </div>
    <div class="col-md-6">
    <h3>Nouns</h3>
    <div *ngFor="let noun of nouns"
          (click)="selectWord(noun, 'noun')"
          style="cursor:pointer;"
          [class.bg-primary]="noun.selected"
    >
      {{ noun.text }}
    </div>
    </div>
  </div>
  <phrase [adjective]="selectedAdjective" [noun]="selectedNoun"></phrase>
  <div class="col-md-8 pull-right">
    <add-word (wordAdded)="onWordAdded($event)"></add-word>
  </div>
</div>

<footer class="text-center">
  Source code available on <a href="https://github.com/blakecontreras/vulgaritor">github</a>
</footer>
